@import url('https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css');

nav {
    margin-bottom: 2em;
}

.logo {
    font-weight: bolder;
    font-style: italic;
    border-bottom: 1px solid #333;
    font-size: 30pt;
    display: inline-block;
}